<div class="header-block">
		Change Your Password
</div>

<div class="container-fluid" style="padding:15px;">
	<form>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>Current Password <span class="mandate">*</span></label>
					<input type="password" ng-model="userPassword.current_password.value" placeholder="Enter your current password" class="form-control" />
					<span class="help-block help-block-color">{{userPassword.current_password.error}}</span>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<label>New Password <span class="mandate">*</span></label>
					<input type="password" ng-blur="checkPasswordStrength(userPassword.new_password.value)" ng-model="userPassword.new_password.value" placeholder="Enter your new password" class="form-control" />
					<span class="help-block help-block-color">{{userPassword.new_password.error}}</span>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<label>Confirm New Password <span class="mandate">*</span></label>
					<input type="password" ng-model="userPassword.confirm_new_password.value" placeholder="Enter confirm new password" class="form-control" />
					<span class="help-block help-block-color">{{userPassword.confirm_new_password.error}}</span>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<button 
						class="btn btn-default" 
						ng-disabled="userPassword.current_password.is_error || userPassword.new_password.is_error || userPassword.confirm_new_password.is_error"	
						ng-click="setNewPassword(userPassword)">Change Password</button>
				</div>
				
				<span class="help-block">{{server_message}}</span>
				<span class="help-block">{{account_error}}</span>
				
			</div>
		</div>
	</form>
</div>



