<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header">
            <h3 class="fts-17">Employees</h3>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Listing</h3>
		<div class="pull-right" style="position: relative;bottom: 20px;">
				
				<!--Select option for no. of pages-->
				<select ng-options="page for page in pages" ng-change="changePageSize(page_size)" ng-model="page_size" style="height:26px;">
					<option value="">Select page size</option>
					<option ng-repeat="page in pages" value="{{page}}">{{page}}</option>
				</select>	
				
				<!--Select option for user role-->
				<select ng-options="designation.id as designation.designation for designation in designation_list" ng-change="filterEmployeeByDesignation(designation_filter)" ng-model="designation_filter" style="height:26px;">
					<option value="">Select employee role</option>
					<option ng-repeat="page in pages">{{designation.designation}}</option>
				</select>
				
				<input type="text" style="border-radius: 0px;padding-left: 4px; outline: none;" ng-model="search_in_employees" placeholder="Search"/>
			</div>
    </div>
		<!--Table: Employee Listing --> 
        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="tbl-col-bg">
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Designation</th>
                <th>D.O.J</th>
                <th>Reporting To</th>
                <th class="make_center">Action</th>
            </tr>
        </thead>
        <tbody class="tlist">
            <tr ng-repeat="data in employees | startFrom: ((pagination.current_page - 1) * pagination.page_size) | limitTo: pagination.page_size | filter: search_in_employees">
               <td ng-bind="pagination.page_size * (pagination.current_page-1) + $index+1">
                <td>{{data.firstname + ' '+ data.lastname}}</td>
                <td>{{data.email}}</td>
                <td>{{data.contactNumber}}</td>
                <td>{{data.employee_designation}}</td>
                <td>{{data.doj}}</td>
                <td class="make_center">{{(data.reportingToEmployee && data.reportingToEmployee || 'NA')}}</td>
                <td class="make_center">
                    <a ng-href="update_employee/{{data.id}}" class="btn btn-xs btn-info">Edit</a>
                    <a ng-href="javascript:;" class="btn btn-xs btn-danger" ng-click="deleteEmployee(data.id)">Delete</a>
                    <div class="btn-group">
                        <button type="button"  class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
							<li>
								<a href="assign-disposition-group/employee/{{data.id}}">Assign disposition group</a>
							</li>
							<li ng-if="data.disposition_group">
								<a href="manage_disposition_group_status/group/{{data.disposition_group}}/{{data.id}}">Manage Disposition Group status</a>
							</li>
                        </ul>
                    </div>
                </td>
            </tr>
          
        </tbody>
    </table>
		<!--End: Table-->
</div>
<!--End Panel-->
		
		<!--Total Records-->
		<div class="pull-left">
			<span class="label label-primary">Total Records: 
				<span>{{employees.length}}</span>
			</span>
		</div>	
		<!--End: Total Records-->
		
		<!--Pagination--> 
			<div class="pull-right" ng-if="employees.length > 10">
				<ul 
					uib-pagination 
					total-items="employees.length" 
					ng-model="pagination.current_page" 
					items-per-page="pagination.page_size" 
					boundary-links="pagination.show_boundary_links" 
					max-size="pagination.pagination_size" 
					ng-change="pagination.changePage ( pagination.current_page )">
				</ul>
			</div>
		<!--End: Pagination-->
		
</div>

<script type="text/javascript">
    (function ($){
        
        $(document).ready(function (){
            
                $('#more_action').webuiPopover({
                    title : 'More Action',
                    animation : 'pop',
                    width : '260',
                    placement : 'auto',
//                    style :'inverse',
                    cache : true, // popover will destroy and recreate every time after close 
                    arrow : true,
                    closeable : true,
                    dismissible : true,
                    type : 'html',
                    url : '.mr_action_items',
                    backdrop : true
                });
                
        });
    })(jQuery);
    
    
</script>