<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header">
            <h3 class="fts-17"> <i class="fa fa-unlock tooltip-button demo-icon icon-edit" title=".icon-edit"></i> Reset Password</h3>
        </div>
    </div>
</div>

<div class="panel panel-default">
	
	<div class="panel-heading">
		Requests
	</div>
	
	
	<table class="table table-bordered">
		<thead>
			<th>#</th>
			<th>Username</th>
			<th>Request By Email/ Username</th>
			<th>Registered Number</th>
			<th>Request Date</th>
			<th>OTP verified</th>
			<th>Wrong OTP Attempts</th>
			<th class="make_center">Action</th>
		</thead>
		<tbody>
			<tr ng-repeat="request in requests">
				<td ng-bind="$index + 1"></td>
				<td>{{request.employee_name}}</td>
				<td>{{request.request_username}}</td>
				<td class="make_center">{{request.otp_sent_on_number}}</td>
				<td>{{request.request_datetime | date: 'fullDate'}}</td>
				<td class="make_center">{{request.is_otp_verified}}</td>
				<td class="make_center">{{request.wrong_attempt}}</td>
				<td><button class="btn btn-xs btn-info" ng-click="resetPassword(request)">Reset Password</button></td>
			</tr>
			
			<tr ng-if="!requests.length">
				<td colspan="8" class="make_center">No Request Found</td>
			</tr>
			
		</tbody>
	</table>
</div>
