<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr ng-repeat="data in table_data | limitTo: 8">
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>+91 {{data.number}}</td>
            <td><a href="" ng-click="saveuser(data.name);" >Save</a></td>
        </tr>
        
        
    </tbody>
</table>

<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="8" boundary-links="true" max-size="4" ng-change="pageChanged()"></ul>